#contact iframe
{
    width: 100%;
}
.travel_main{
    border: 4px solid blue;
}
.travel_main img{
    width: 100%;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i{
float: right;
}
.movie_text span{
    color: gold;
}